body {
    background: #4568dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4568dc, #b06ab3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4568dc, #b06ab3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0 auto;
    text-align: center;
}

h1, h2, h3, h4, h5, h6,p {
    color: #fff;
    margin: 0 auto;
}

h1 {
    padding-top: 150px;
}